apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-task-deployment
  namespace: {{ namespace }}
  labels:
    app: kube-task
spec:
  replicas: {{ replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: kube-task
  template:
    metadata:
      labels:
        app: kube-task
        pipeline: "{{ pipelineId }}"
    spec:
      serviceAccountName: pod-reader
      containers:
      - name: kube-task
        image: eu.gcr.io/hale-lantern-221421/kube-task:latest
        imagePullPolicy: Always
        ports:
        - containerPort: {{ port }}
        env:
        - name: WELCOME
          value: {{ welcome }}
        - name: PORT
          value: "{{ port }}"
        readinessProbe:
          httpGet:
            path: /status
            port: {{ port }}
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /status
            port: {{ port }}
          initialDelaySeconds: 3
          periodSeconds: 3
        resources:
          limits:
            cpu: 300m
            memory: 128Mi
          requests:
            cpu: 300m
            memory: 128Mi
