kind: Service
apiVersion: v1
metadata:
  name: kube-task-service
  namespace: {{ namespace }}
spec:
  selector:
    app: kube-task
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ port }}
  type: {{ serviceType }}